---
import Charlist from '../components/Charlist.astro';
import { Image } from 'astro:assets';

import charlistImage1 from '../../public/images/charlist-1.png';
import charlistImage2 from '../../public/images/charlist-2.png';
import charlistImage3 from '../../public/images/charlist-3.png';
import charlistImage4 from '../../public/images/charlist-4.png';
import charlistImage5 from '../../public/images/charlist-5.png';
import charlistImage6 from '../../public/images/charlist-6.png';

import wave from '../../public/patters/wave-pattern-1.svg';

const charlists = [
  {
    image: charlistImage1,
    name: 'Juan Esteban Martínez Ruiz',
    title: 'Embajador del Transporte Público',
    description: 'Ingeniero Civil con más de 17 años de experiencia en planeación, gestión y desarrollo de proyectos de transporte e infraestructura, medio ambiente y desarrollo urbano.'
  },
  {
    image: charlistImage2,
    name: 'Raúl Moreno',
    title: 'Automotive Industry and Electromobility Consulting & Advisory',
    description :'Consultor con más de 20 años de experiencia internacional en desarrollo de negocios y operaciones en las industrias Automotriz y Electromovilidad, experto en consultoría estratégica y operativa.'
  },
  {
    image: charlistImage3,
    name: 'Arturo Perez de Lucia Gonzalez',
    title: 'General Manager AEDIVE',
    description: 'Director general de AEDIVE y vicepresidente de AVERE, con más de 20 años de experiencia en publicaciones sobre eficiencia energética, energías renovables y movilidad sostenible.'
  },
  {
    image: charlistImage4,
    name: 'Rolando González Búnster (EVERGO)',
    title: 'Presidente de InterEnergy Group',
    description: 'Empresario argentino, fundador y director ejecutivo de InterEnergy Group, con operaciones en República Dominicana, Panamá, Chile, Jamaica y Uruguay.'
  },
  {
    image: charlistImage5,
    name: 'Antonio Almonte',
    title: 'Ministro de Energía y Minas de la República Dominicana',
    description: 'Encargado del desarrollo de los sectores energético y minero de República Dominicana, manteniendo una infraestructura energética confiable y explotación adecuada de minerales.'
  },
  {
    image: charlistImage6,
    name: 'Celso Marranzini',
    title: 'Ex Vicepresidente de la CODEEE',
    description: 'Economista y empresario de República Dominicana, ex vicepresidente de la Corporación Dominicana de Empresas Eléctricas Estatales y ex presidente del Consejo Nacional de la Empresa Privada.'
  }
];
---

<section id="charlists" class="flex relative flex-col items-center p-8 bg-downriver text-white gap-y-10">
  <Image src={wave} alt="patron de ondas" class="absolute inset-0 object-cover w-full h-full opacity-35"/>
  <h2 class="text-3xl italic font-black text-center  z-10">Conoce a nuestros charlistas</h2>
  <div class="grid w-full gap-15 md:grid-cols-2 max-w-7xl z-10">
    {charlists.map((charlist) => (
      <Charlist
        image={charlist.image}
        name={charlist.name}
        title={charlist.title}
        description={charlist.description}
      />
    ))}
  </div>
</section>