---
import { Image } from "astro:assets";

interface CharlistProps {
  image: ImageMetadata;
  name: string;
  title: string;
  description: string;
}

const { image, name, title, description } = Astro.props as CharlistProps;
---

<li class="flex flex-col carousel-item bg-black/25 rounded-xl w-80">
  <div>
    <Image src={image} alt="Image" class="w-full h-full rounded-t-xl aspect-[16/20]" />
  </div>
  <div class="flex flex-col items-center flex-1 p-4 gap-y-4">
    <div>
      <h3 class="text-xl font-semibold lg:text-base">{name}</h3>
      <h4 class="text-xl lg:text-base">{title}</h4>
    </div>
    <button class="px-4 py-1 mt-auto font-semibold transition-colors bg-gray-600 rounded hover:bg-bright-sky-blue w-fit">Ver más</button>

    <dialog class="modal">
      <div class="modal-box rounded-xl">
        <h3 class="text-lg font-bold">{name}</h3>
        <p class="py-4">{description}</p>
        <div class="modal-action">
          <form method="dialog">
            <button class="btn">Cerrar</button>
          </form>
        </div>
      </div>
    </dialog>
  </div>
</li>

<script>
  const buttons = document.querySelectorAll('.carousel-item button');

  buttons.forEach(button => {
    button.addEventListener('click', () => {
      const modal = button.nextElementSibling;
      if (modal instanceof HTMLDialogElement) {
        modal.showModal();
      }
    })
  })
</script>