---
import ContactForm from './ContactForm.astro';
import { Image } from 'astro:assets';
import emailSvg from '../../public/icons/email.svg';
import phoneSvg from '../../public/icons/phone.svg';

interface ContactInfo {
  email: string;
  phone: string;
}

export const contact: ContactInfo = {
  email: 'paulmanzueta@gmail.com',
  phone: '+1 829-771-3132'
}
---

<section id="contact" class="flex flex-col justify-center px-8 text-white gap-x-5 gap-y-10 md:px-16 lg:px-24 lg:flex-row bg-downriver py-14">
  <div class="flex justify-center lg:justify-end lg:w-1/2">
    <div class="flex flex-col max-w-lg gap-y-8">
      <h3 class="text-3xl italic font-black font-roboto">Ponte en contacto</h3>
      <p class="text-xl">
        Si tienes preguntas o deseas más información, estamos aquí para ayudarte.
      </p>
      <address class="flex flex-col text-lg gap-y-2">
        <span class="leading-none">Paúl Manzueta</span>
        <a href={`mailto:${contact.email}`} class="flex items-center gap-x-1.5 leading-none">
          <Image src={emailSvg} alt="email icon" class="size-5"/>
          <span>{contact.email}</span>
        </a>
        <a href={`tel:${contact.phone}`} class="flex items-center gap-x-1.5 leading-none">
          <Image src={phoneSvg} alt="phone icon" class="size-5"/>
          <span>{contact.phone}</span>
        </a>
      </address>
    </div>
  </div>
  <div class="flex justify-center lg:justify-start lg:w-1/2">
    <ContactForm />
  </div>
</section>