---
import SEO from "../components/SEO.astro"

interface Props {
	title: string
	description: string
	canonical?: string
	image?: string
}

const { title, description, canonical, image } = Astro.props
---

<!doctype html>
<html lang="es" class="overflow-x-hidden">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content={description} />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="apple-touch-icon" sizes="180x180" href="/favicon/apple-touch-icon.png">
		<link rel="icon" sizes="32x32" href="/favicon/favicon-32x32.png">
		<link rel="icon" sizes="16x16" href="/favicon/favicon-16x16.png">
		<link rel="manifest" href="/favicon/site.webmanifest">
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
		<SEO
			canonical={canonical}
			description={description}
			image={image}
			title={title}
		/>
	</head>
	<body class="overflow-x-hidden">
		<slot />
		<style is:global>
			html {
				scroll-behavior: smooth;
			}
			* {
				font-family: Roboto;
			}
			.text-sky-malted {
				background: linear-gradient(90deg, rgba(16,226,170,1) 24%, rgba(0,200,251,1) 76%);
				-webkit-background-clip: text;
				-webkit-text-fill-color: transparent;
			}
			@font-face {
				font-family: 'Roboto';
				src: url('/fonts/Roboto/Roboto-Thin.ttf') format('truetype'),
					url('/fonts/Roboto/Roboto-Thin.ttf') format('truetype');
				font-weight: 100;
				font-style: normal;
				font-display: swap;
			}
			@font-face {
				font-family: 'Roboto';
				src: url('/fonts/Roboto/Roboto-ThinItalic.ttf') format('truetype'),
					url('/fonts/Roboto/Roboto-ThinItalic.ttf') format('truetype');
				font-weight: 100;
				font-style: italic;
				font-display: swap;
			}
			@font-face {
				font-family: 'Roboto';
				src: url('/fonts/Roboto/Roboto-Light.ttf') format('truetype'),
					url('/fonts/Roboto/Roboto-Light.ttf') format('truetype');
				font-weight: 300;
				font-style: normal;
				font-display: swap;
			}
			@font-face {
				font-family: 'Roboto';
				src: url('/fonts/Roboto/Roboto-LightItalic.ttf') format('truetype'),
					url('/fonts/Roboto/Roboto-LightItalic.ttf') format('truetype');
				font-weight: 300;
				font-style: italic;
				font-display: swap;
			}
			@font-face {
				font-family: 'Roboto';
				src: url('/fonts/Roboto/Roboto-Regular.ttf') format('truetype'),
					url('/fonts/Roboto/Roboto-Regular.ttf') format('truetype');
				font-weight: 400;
				font-style: normal;
				font-display: swap;
			}
			@font-face {
				font-family: 'Roboto';
				src: url('/fonts/Roboto/Roboto-Italic.ttf') format('truetype'),
					url('/fonts/Roboto/Roboto-Italic.ttf') format('truetype');
				font-weight: 400;
				font-style: italic;
				font-display: swap;
			}
			@font-face {
				font-family: 'Roboto';
				src: url('/fonts/Roboto/Roboto-Medium.ttf') format('truetype'),
					url('/fonts/Roboto/Roboto-Medium.ttf') format('truetype');
				font-weight: 500;
				font-style: normal;
				font-display: swap;
			}
			@font-face {
				font-family: 'Roboto';
				src: url('/fonts/Roboto/Roboto-MediumItalic.ttf') format('truetype'),
					url('/fonts/Roboto/Roboto-MediumItalic.ttf') format('truetype');
				font-weight: 500;
				font-style: italic;
				font-display: swap;
			}
			@font-face {
				font-family: 'Roboto';
				src: url('/fonts/Roboto/Roboto-Bold.ttf') format('truetype'),
					url('/fonts/Roboto/Roboto-Bold.ttf') format('truetype');
				font-weight: 700;
				font-style: normal;
				font-display: swap;
			}
			@font-face {
				font-family: 'Roboto';
				src: url('/fonts/Roboto/Roboto-BoldItalic.ttf') format('truetype'),
					url('/fonts/Roboto/Roboto-BoldItalic.ttf') format('truetype');
				font-weight: 700;
				font-style: italic;
				font-display: swap;
			}
			@font-face {
				font-family: 'Roboto';
				src: url('/fonts/Roboto/Roboto-Black.ttf') format('truetype'),
					url('/fonts/Roboto/Roboto-Black.ttf') format('truetype');
				font-weight: 900;
				font-style: normal;
				font-display: swap;
			}
			@font-face {
				font-family: 'Roboto';
				src: url('/fonts/Roboto/Roboto-BlackItalic.ttf') format('truetype'),
					url('/fonts/Roboto/Roboto-BlackItalic.ttf') format('truetype');
				font-weight: 900;
				font-style: italic;
				font-display: swap;
			}

			@font-face {
				font-family: 'LeagueGothic', sans-serif;
				src: url('/fonts/League_Gothic/league-gothic.regular.ttf') format('truetype');
				font-optical-sizing: auto;
				font-weight: 400;
				font-style: normal;
				font-display: swap
			}
		</style>
	</body>
</html>